<h2 mat-dialog-title class="add-edit-dialog-header">{{isEditMode ? 'Edit' : 'Add'}} Book Dialog</h2>

<mat-dialog-content class="add-edit-dialog-content">
  <div class="add-edit-dialog-image" (click)="onImageClick()" (keydown.enter)="onImageClick()" tabindex="0" role="button">
    @if (imagePreview() || (isEditMode && data.book && data.book.image)) {
      <img [src]="imagePreview() || data.book.image" alt="book-image" />
    } @else {
      <p class="card-photo-name">240x300</p>
    }
  </div>
  <form class="add-edit-dialog-form" [formGroup]="bookForm">
    <mat-form-field appearance="outline">
      <mat-label>NAME</mat-label>
      <input matInput placeholder="Enter the book name" formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>AUTHOR</mat-label>
      <input matInput formControlName="author" placeholder="Enter the author name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>YEAR</mat-label>
      <input matInput formControlName="year" type="number" placeholder="Enter publication year" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DESCRIPTION</mat-label>
      <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
    </mat-form-field>
    <input class="add-edit-dialog-file-input" type="file" #fileInput (change)="onFileChange($event)" />
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close>
    <mat-icon>close</mat-icon>
    Close
  </button>
  <button mat-flat-button color="primary" cdkFocusInitial mat-dialog-close (click)="saveBook()">
    <mat-icon>favorite</mat-icon>
    {{ isEditMode ? 'Edit' : 'Add' }}
  </button>
</mat-dialog-actions>
