.wrapper {
  display: flex;
  padding: 30px;
  gap: 70px;
}

.content {
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
}

.section-header {
  font-size: 34px;
  padding: 24px 30px 10px 30px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
}

.input-handler {
  display: flex;
  justify-content: center;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
  justify-items: center;
}
