<div class="wrapper">
  <!-- <div class="sidebar">

    <div class="form-container">
      <div class="section-header">
        <p>Add Book</p>
      </div>

      <form class="form" [formGroup]="bookForm" (ngSubmit)="addBook()">
        <mat-form-field appearance="outline">
          <mat-label>NAME</mat-label>
          <input matInput placeholder="Enter the book name" formControlName="name" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>AUTHOR</mat-label>
          <input matInput formControlName="author" placeholder="Enter the author name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>YEAR</mat-label>
          <input matInput formControlName="year" type="number" placeholder="Enter publication year">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>DESCRIPTION</mat-label>
          <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
        </mat-form-field>

        <input type="file" formControlName="image" (change)="onFileChange($event)" class="file-input" />

        <button mat-raised-button color="primary" class="form-btn" type="submit">
          Save
        </button>
      </form>
    </div>
  </div> -->

  <div class="content">
    <div class="section-header">
      <p class="container-name">LIST</p>
    </div>
    <mat-form-field class="input-handler">
      <input
        matInput
        type="text"
        [formControl]="searchText"
        placeholder="Enter the card..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <hr>

    <div class="book-list">
      @for (book of filteredBooks(); track book.name) {
        <mat-card class="book-card" (click)="openDialog(book, BOOKS_DIALOG_TYPES.SHOW)">
          <div class="img-block">
            @if (book.image) {
              <img mat-card-image class="card-image" [src]="book.image" alt="Book cover" width="300" height="300" priority>
            } @else {
              <p class="card-photo-name">NO IMAGE</p>
            }
          </div>

          <mat-card-content>
            <p>{{ book.name }}</p>
            <p>{{ book.author }}</p>
          </mat-card-content>

          <mat-card-actions class="buttons-handler">
            <button class="card-btn" (click)="$event.stopPropagation(); openDialog(book, BOOKS_DIALOG_TYPES.DELETE)">
              <img ngSrc="icons/bin.svg" class="bin" alt="delete" height="16" width="16">
            </button>
            <button class="card-btn" (click)="$event.stopPropagation();openDialog(book, BOOKS_DIALOG_TYPES.EDIT)">
              <img ngSrc="icons/pencil.svg" class="pencil" alt="edit" height="16" width="16">
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  </div>
</div>
