<div class="wrapper">

  <div class="content">
    <div class="section-header">
      <p class="container-name">LIST</p>
    </div>
    <div class="controls-container">
      <mat-form-field class="input-handler">
        <input
          matInput
          type="text"
          [formControl]="searchText"
          placeholder="Enter the card..."
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      
      <button mat-raised-button color="primary" class="add-button" (click)="openDialog(null, BOOKS_DIALOG_TYPES.ADD)">
        <mat-icon>add</mat-icon>
        Add Book
      </button>
    </div>

    <hr>

    <div class="books-container">
      @for (book of filteredBooks(); track book.id) {
        <app-card-book 
          [book]="book" 
          (openDialog)="openDialog(book, $event.type)">
        </app-card-book>
      }
    </div>
  </div>
</div>
