<div class="wrapper">

  <div class="content">
    <div class="section-header">
      <p class="container-name">LIST</p>
    </div>
    <mat-form-field class="input-handler">
      <input
        matInput
        type="text"
        [formControl]="searchText"
        placeholder="Enter the card..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <hr>

    <div class="books-container">
      @for (book of filteredBooks(); track book.id) {
        <app-card-book 
          [book]="book" 
          (openDialog)="openDialog(book, $event.type)">
        </app-card-book>
      }
    </div>
  </div>
</div>
