.dialog-header {
  border-bottom: 1px solid var(--black);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;

.dialog-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 200px;
  height: 200px;
  border: 1px solid var(--black);

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.dialog-info {
  margin-left: .5rem;
}
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}
